* {
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;

  //   border:1px solid red;
  h1 {
    font-weight: 500;
    text-transform: capitalize;
    margin: 120px auto 60px;
  }
  p {
    width: 41%;
    text-align: left;
    margin: 0px auto 70px;
    font-size: 20px;
    letter-spacing: 1px;
  }
}
.slider {
  // border:1px solid red;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  .slide {
    min-width: 90%;
    height: 40vh;
    font-size: 50px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .left-arrow,
  .right-arrow {
    position: absolute;
    z-index: 1;
    font-size: 60px;
    top: 50%;
  }
  .left-arrow {
    left: 25%;
  }
  .right-arrow {
    right: 25%;
  }

  .first-section {
    position: relative;
    .pagination {
      position: absolute;
      bottom: -50px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
    }
    .dot {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 3px solid #f1f1f1;
      margin: 0 5px;
      background: black;
    }
    .active {
      background: rgb(197, 190, 190);
    }
  }
}
@media screen and (max-width: 600px) {
  .App {
    h1 {
      margin: 100px auto 50px;
    }
    p {
      width: 80%;
      margin-bottom: 30px;
      font-size: 16px;
    }
  }
  .slider {
    .slide {
      max-width: 50%;
      margin: auto;
      height: 40vh;
      font-size: 50px;

      img {
        width: 90%;
        height: 100%;
        object-fit: contain;
      }
    }
    .left-arrow {
      left: 1%;
      font-size: 30px;
    }
    .right-arrow {
      right: 1%;
      font-size: 30px;
    }
    .first-section {
      position: relative;
      .pagination {
        bottom: 0px;
      }
      .dot {
        width: 20px;
        height: 20px;
      }
    }
  }
}
